.logo{
    margin-left: 2rem;
}

.navbar {
    width: 50%;
    height: 10rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

nav{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    margin:1rem;
    
}

ul{
    display:flex;
    margin-right: 2rem;
}

li{
    text-decoration: none;
    color: azure;
    list-style: none;
    margin: 2rem;
    
}