.card{
    margin:3rem;
    background-color: rgb(29, 21, 53);
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 20vh;
}

.boton{
    background-color: rgb(35, 127, 180);
    color: rgb(255, 255, 255);
    width:50%;
    border:none;
    text-align: center;
    margin:1rem;
}

.boton:hover{
    background-color: rgb(20, 139, 104);
}